<%= content_for :head do %>
  <script type="text/javascript">
        $(function() {
      
      //hide_linhas();
      $("#minicurso_material").parent().hide();
      $("#minicurso_referencias").parent().hide();
      $("#minicurso_material").val("---");
      $("#minicurso_referencias").val("---");
      
      var fieldsCount,
        maxFieldsCount = 4,
        $addLink = $('a.add_nested_fields');

      function toggleAddLink() {
        $addLink.toggle(fieldsCount <= maxFieldsCount)
      }

      $(document).on('nested:fieldAdded', function() {
        fieldsCount += 1;
        toggleAddLink();
      });

      $(document).on('nested:fieldRemoved', function() {
        fieldsCount -= 1;
        toggleAddLink();
      });  

      // count existing nested fields after page was loaded
      fieldsCount = $('form .fields').length;
      toggleAddLink();
    });

      // Send the request and update linhas dropdown
      $("select#minicurso_linha_id option").remove();
      $.ajax({
      dataType: "json",
      cache: false,
      url: '/get_linhas_minicursos/',
      //url: '/get_linhas_by_evento/1',
      timeout: 5000,
      error: function(XMLHttpRequest, errorTextStatus, error) {
        alert("Failed to submit : " + errorTextStatus + " ;" + error);
      },
      success: function(data) {
        var linha = $("select#minicurso_linha_id option:selected").val();
        // Clear all options from linha select
        $("select#minicurso_linha_id option").remove();
        //put in a empty default line
        var row = "<option value=\"" + "" + "\">" + "Selecione" + "</option>";
        $(row).appendTo("select#minicurso_linha_id");
        // Fill course select
        $.each(data, function(i, j) {
          if(linha==j.id)
            row = "<option selected value=\"" + j.id + "\">" + j.nome + "</option>";
          else
            row = "<option value=\"" + j.id + "\">" + j.nome + "</option>";
          $(row).appendTo("select#minicurso_linha_id");
        });
      }
    });

    $(document).ready(function() {
      $("#minicurso_participante_id").select2({
        theme: "bootstrap",
        placeholder: 'Selecione',
        language: "pt-BR",
        ajax: {
          url: "<%= admin_participantes_path %>",
          dataType: 'json',
          delay: 250,
          data: function(params) {
            return {
              nome: params.term
            }
          },
          processResults: function (data) {
            return {
              results: $.map(data, function (item) {
                          return {
                            text: item.usuario.nome,
                            id: item.id
                          }
                        })
            };
          },
          cache: true
        },
        escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
        minimumInputLength: 3
      });

      <% if @minicurso.participante.present? %>
        $("#minicurso_participante_id").select2('data', {id: <%= @minicurso.participante.id %>, text: '<%= @minicurso.participante.nome %>'});
      <% end %>
    });

    function toggle(id) {
      $("#participante_"+id).parent().toggle('blind');
    }

    function verificar_pais() {
      pais_id = $("#participante_pais_id").val();
      if(pais_id != 33) {
        $("#participante_cidade_id").attr('disabled', 'disabled');
      } else {
        $("#participante_cidade_id").attr('disabled', false);
      }
    }
  </script>
<% end %>

<p>Todos os campos são obrigatórios.</p>
<%= f.text_field :titulo, label: 'Título' %>
<%= f.select :linha_id, Linha.select, prompt: 'Selecione', label: 'Área' %>
<%= f.select :participante_id, Participante.select, label: 'Proponente' %>
<%= f.select :avaliacao, options_for_select(avaliacao_options, @minicurso.avaliacao), label: 'Avaliação' %>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <%= f.select :tipo_minicurso_id, TipoMinicurso.select, prompt: 'Selecione', label: 'Tipo' %>
  </div>
  <div class="col-md-6 col-sm-12">
    <%= f.number_field :vagas, label: 'Quantidade de vagas', min: 1 %>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <%= f.number_field :quantidade_vezes, label: 'Número de vezes que pretende ministrar o minicurso ou a oficina durante o evento', min: 1 %>
  </div>
  <div class="col-md-6 col-sm-12">
    <%= f.number_field :carga_horaria, label: 'Carga horária (horas) - 2h, 4h, 6h ou 8h', min: 2, max: 8, step: 2 %>
  </div>
</div>

      <div class="alert alert-info" role="alert"><strong>Atenção:</strong> Preencha abaixo os nomes dos ministrantes do minicurso ou da oficina.</div>
      <label for="ministrantes" class="control-label">Ministrantes</label>
      <%= f.fields_for :ministrantes do |ministrantes| %>
        <div class="form-group">
          <div class="input-group">
            <%=ministrantes.text_field :nome, hide_label: true, placeholder: 'Nome do ministrante' %>
            <span class="input-group-btn">
              <%= ministrantes.link_to_remove "Remover", class: 'btn btn-default' %>
            </span>
          </div>
        </div>
      <% end %>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <%= f.text_field :local, label: 'Local' %>
    <%= f.text_area :justificativa, rows: 5 %>
    <%= f.text_area :objetivos, rows: 5 %>
    <%= f.text_area :metodologia, rows: 5 %>
  </div>
  <div class="col-md-6 col-sm-12">
    <%= f.text_field :vagas, label: 'Quantidade de vagas' %>
    <%= f.text_area :programacao, rows: 5, label: 'Programação' %>
    <%= f.text_area :material, rows: 5, label: 'Material necessário' %>
    <%= f.text_area :referencias, rows: 5, label: 'Referências' %>
  </div>
</div>
<%= f.submit 'Enviar', class: 'btn btn-primary' %>
