<p>Caro(a) <%= @avaliador.nome %>,</p>

<p>A avaliação de um trabalho foi atribuída para você.</p>

<p>Você tem um prazo de 24h para avaliar esse trabalho.</p>

<h1>Dados do trabalho</h1>

<p><strong>Título:</strong> <%= @trabalho.titulo %></p>

<p><strong>Evento:</strong> <%= @trabalho.linha.evento.nome %></p>

<p><strong>Área:</strong> <%= @trabalho.linha.nome %></p>

<p>
  <strong>Resumo:</strong><br>
  <%= @trabalho.resumo %>
</p>

<p>
  <strong>Download:</strong> <%= link_to "Clique aqui", @download %>
</p>
