<table id="datatable" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th width="30%">Titulo</th>
      <th width="10%">Evento</th>
      <th width="10%">Área</th>
      <th width="10%">Tipo de Trabalho</th>
      <!--th width="10%">Sua Avaliação</th-->
      <!--th width="10%">Avaliação Geral</th-->
      <th width="8%">Sua Avaliação</th>
      <th width="8">Avaliação Geral</th>
      <th width="10%">Situação</th>
      <th width="14%">Opções</th>
    </tr>
  </thead>
  <tbody>
    <% trabalhos.each do |trabalho| %>
      <tr>
        <td><%= trabalho.titulo %></td>
        <td><%= trabalho.linha.evento.nome %></td>
        <td><%= trabalho.linha.nome %></td>
        <td><%= trabalho.tipo_trabalho.nome %></td>
        <td>
          <% if trabalho.minha_avaliacao(current_user.autenticavel).present? %>
            <% if trabalho.avaliacao_pendente?(current_user.autenticavel) %>
              <%= trabalho.status_situacao(trabalho.situacao_avaliacao(current_user.autenticavel)).html_safe %>
            <% else %>
              <%= trabalho.nota_avaliador(current_user.autenticavel) %>
            <% end %>
          <% else %>
            -
          <% end %>
        </td>
        <td>
          <% if trabalho.avaliacao_geral_pendente? %>
            <%= trabalho.status_situacao(trabalho.situacao).html_safe %>
          <% else %>
            <%= trabalho.nota_geral %>
          <% end %>
        </td>
        <td><%= trabalho.status_situacao(trabalho.situacao).html_safe %></td>
        <td>
          <div class="btn-group">
            <% if can? :show, trabalho %>
              <%= link_to fa_icon('download'), trabalho.download, title: 'Download', class: 'btn btn-primary btn-sm' %>
            <% end %>
            <% if trabalho.minha_avaliacao(current_user.autenticavel).present? %>
              <%= link_to fa_icon('gavel'), admin_trabalho_avaliar_path(trabalho), title: 'Avaliar', class: 'btn btn-primary btn-sm' %>
            <% end %>
            <% if can? :show, trabalho %>
              <%= link_to fa_icon('eye'), admin_trabalho_path(trabalho), title: 'Detalhar', class: 'btn btn-primary btn-sm' %>
            <% end %>
            <% if can? :update, trabalho %>
              <%= link_to fa_icon('edit'), edit_admin_trabalho_path(trabalho), title: 'Editar', class: 'btn btn-primary btn-sm' %>
            <% end %>
            <% if can? :delete, trabalho %>
              <%= link_to fa_icon('trash'), admin_trabalho_path(trabalho), title: 'Excluir', class: "btn btn-primary btn-sm", method: :delete, data: { confirm: 'Tem certeza que deseja excluir esse trabalho?' } %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
