<% if @equipes.empty? %>
  <p>Nenhuma equipe inscrita até o momento.</p>
<% else %>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th width="30%">Nome</th>
        <th width="20%">Técnico</th>
        <th width="30%">Alunos</th>
        <th width="10%">Status</th>
        <th width="10%">Opções</th>
      </tr>
    </thead>
    <tbody>
      <% @equipes.each do |equipe| %>
        <tr>
          <td><%= equipe.nome %></td>
          <td><%= equipe.participante.nome %></td>
          <td>
            (<%= equipe.matricula1 %>) <%= equipe.aluno1 %><br>
            (<%= equipe.matricula2 %>) <%= equipe.aluno2 %><br>
            <% if !equipe.matricula3.blank? && !equipe.aluno3.blank? %>
              (<%= equipe.matricula3 %>) <%= equipe.aluno3 %><br>
            <% end %>
            <% if !equipe.matricula4.blank? && !equipe.aluno4.blank? %>
              (<%= equipe.matricula4 %>) <%= equipe.aluno4 %><br>
            <% end %>
          </td>
          <td><%= equipe.status_equipe(equipe.status).html_safe %></td>
          <td>
            <div class="btn-group">
              <% if can? :show, equipe %>
                <%#= link_to fa_icon('eye'), admin_equipe_path(equipe), title: 'Detalhar', class: 'btn btn-primary btn-sm' %>
              <% end %>
              <% if can? :edit, equipe %>
                <%#= link_to fa_icon('edit'), edit_admin_equipe_path(equipe), title: 'Editar', class: 'btn btn-primary btn-sm' %>
              <% end %>
              <% if can? :certificar, equipe %>
                <%#= link_to fa_icon('certificate'), admin_equipe_certificados_path(equipe), title: 'Certificados', class: 'btn btn-primary btn-sm' %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

