<table id="datatable" class="table table-bordered table-hover">
  <thead>
    <th width="30%">Nome</th>
    <th width="10%">Tipo de Participante</th>
    <th width="15%">Instituição</th>
    <th width="15%">Campus</th>
    <th width="10%">Observações</th>
    <th width="20%">Opções</th>
  </thead>
  <tbody>
    <% participantes.each do |participante| %>
      <% if participante.nil? %>
        <% break %>
      <% end %>
      <tr>
        <td><%= participante.nome %></td>
        <td><%= participante.tipo_participante.nome %></td>
        <td><%= participante.instituicao %></td>
        <td>
          <% if participante.ifrn? %>
            <%= participante.campus.nome %>
          <% end %>
        </td>
        <td>
          <%= participante.icons_listagem_participante.html_safe %>
        </td>
        <td>
          <div class="btn-group">
            <% if can?(:personificar, participante.usuario) %>
              <% link_to fa_icon('user-secret'), personificar_path(usuario_id: participante.usuario.id), class: "btn btn-primary btn-sm" %>
            <% end %>

            <% if can?(:credenciar, participante) and participante.confirmado? %>
              <% unless participante.credenciado? %>
                <%= link_to fa_icon('address-card-o'), admin_participante_credenciar_path(participante), title: 'Credenciar', class: "btn btn-primary btn-sm", data: { confirm: "Tem certeza que deseja credenciar #{participante.nome}?" } %>
              <% end %>
            <% end %>
            <% if can? :show, participante %>
              <%= link_to fa_icon('eye'), admin_participante_path(participante), title: 'Detalhar', class: "btn btn-primary btn-sm" %>
            <% end %>
            <% if can? :update, participante %>
              <%= link_to fa_icon('edit'), edit_admin_participante_path(participante), title: 'Editar', class: "btn btn-primary btn-sm" %>
            <% end %>
            <% if can? :destroy, participante %>
              <%= link_to fa_icon('trash'), admin_participante_path(participante), title: 'Excluir', class: "btn btn-primary btn-sm", method: :delete, data: { confirm: 'Tem certeza que deseja excluir esse participante?' } %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
