<%= content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $("#equipe_participante_id").select2({
        theme: "bootstrap"
      });
    });


    $(function() {
      var fieldsCount,
          maxFieldsCount = 4,
          $addLink = $('a.add_nested_fields');

      function toggleAddLink() {
        $addLink.toggle(fieldsCount + 1 <= maxFieldsCount);
      }

      $(document).on('nested:fieldAdded', function() {
        fieldsCount += 1;
        toggleAddLink();
      });

      $(document).on('nested:fieldRemoved', function() {
        fieldsCount -= 1;
        toggleAddLink();
      });

      // count existing nested fields after page was loaded
      fieldsCount = $('form .fields').length;
      toggleAddLink();
      //$("#equipe_participante_id").prop('disabled', 'disabled');

    });

  </script>
<% end %>

<%= bootstrap_nested_form_for(@equipe, html: { multipart: true }) do |f| %>
  <p>Os campos marcados com * são obrigatórios.</p>

  <%= f.text_field :nome, label: 'Nome da equipe *' %>
  <%#= f.select :participante_id, label: 'Nome da equipe', Participante.select, prompt: 'Selecione', :value => Participante.first %>

  <%#= f.select :participante, options_for_select([[@equipe.participante.nome, @equipe.participante.id]]), label: 'Técnico' %>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <strong>Técnico:</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <%= @equipe.participante.nome %>
    </div>
  </div>
  <br>
  <!--%= f.select :participante_id, Participante.select, label: 'Técnico', :selected => session[:participante_id] %-->
  
  <div class="alert alert-danger" role="alert"><strong>Atenção:</strong> A equipe não será validada e não poderá participar da competição caso viole alguma das seguintes regras:
    <ul>
      <li>As equipes só podem ser inscritas por servidores do IFRN.</li>
      <li>As equipes devem ter entre 2 e 4 alunos.</li>
      <li>Cada aluno só pode ser inscrito em uma única equipe.</li>
      <li>Todos os alunos da equipe precisam estar regularmente matriculados e cursando disciplinas regulares dos cursos técnicos integrados do IFRN.</li>
    </ul>
  </div>
  <label class="control-label">Alunos</label>
  <div class="form-group">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <%= f.text_field :aluno1, hide_label: true, placeholder: 'Nome do 1º aluno * (obrigatório)' %>
      </div>
      <div class="col-md-4 col-sm-12">
      <%= f.text_field :matricula1, hide_label: true, placeholder: 'Matrícula do 1º aluno * (obrigatório)' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <%= f.text_field :aluno2, hide_label: true, placeholder: 'Nome do 2º aluno * (obrigatório)' %>
      </div>
      <div class="col-md-4 col-sm-12">
        <%= f.text_field :matricula2, hide_label: true, placeholder: 'Matrícula 2º aluno * (obrigatório)' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <%= f.text_field :aluno3, hide_label: true, placeholder: 'Nome do 3º aluno (opcional)' %>
      </div>
      <div class="col-md-4 col-sm-12">
        <%= f.text_field :matricula3, hide_label: true, placeholder: 'Matrícula do 3º aluno (opcional)' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <%= f.text_field :aluno4, hide_label: true, placeholder: 'Nome do 4º aluno (opcional)' %>
      </div>
      <div class="col-md-4 col-sm-12">
        <%= f.text_field :matricula4, hide_label: true, placeholder: 'Matrícula do 4º aluno (opcional)' %>
      </div>
    </div>
  </div>
  <%= f.hidden_field :status, :value => Equipe::STATUS[:pendente] %>
  <div class="alert alert-info" role="alert"><strong>Atenção:</strong> As equipes serão validadas até 10/10/2018.</div>  
  <%= f.submit 'Enviar', class: 'btn btn-primary' %>
<% end %>

