<h3><%= @trabalho.titulo %></h3>

<p>
  <strong>Evento:</strong>
  <%= @trabalho.linha.evento.nome %>
</p>
<p>
  <strong>Área:</strong>
  <%= @trabalho.linha.nome %>
</p>

<p>
  <strong>Tipo de trabalho:</strong>
  <%= @trabalho.tipo_trabalho.nome %>
</p>
<p><strong>Resumo</strong></p>

<p><%= @trabalho.resumo %></p>

<% if can? :ver_autores, @trabalho %>
  <p>
    <strong>Autor(es):</strong><br>
    <ul>
      <% if @trabalho.autores.empty? %>
        <li><%= @trabalho.participante.nome %></li>
      <% else %>
        <% @trabalho.autores.each do |autor| %>
          <li><%= autor.nome %></li>
        <% end %>
      <% end %>
    </ul>
  </p>
<% end %>

<p>
  <strong>Avaliação:</strong>
  <%= @trabalho.status_situacao(@trabalho.situacao_avaliacao_geral).html_safe %>
</p>