<%= content_for :head do %>
  <script type="text/javascript">
    $(function() {
      $("#trabalho_participante_id").select2({
        theme: "bootstrap"
      });
    });


    $(function() {
      var fieldsCount,
          maxFieldsCount = 7,
          $addLink = $('a.add_nested_fields');

      function toggleAddLink() {
        $addLink.toggle(fieldsCount <= maxFieldsCount)
      }

      $(document).on('nested:fieldAdded', function() {
        fieldsCount += 1;
        toggleAddLink();
      });

      $(document).on('nested:fieldRemoved', function() {
        fieldsCount -= 1;
        toggleAddLink();
      });

      // count existing nested fields after page was loaded
      fieldsCount = $('form .fields').length;
      toggleAddLink();

      if ($("select#trabalho_linha_evento_id").val() == "") {
        $("select#trabalho_linha_id option").remove();
        var row = "<option value=\"" + "" + "\">" + "Selecione" + "</option>";
        $(row).appendTo("select#trabalho_linha_id");
        $("select#trabalho_tipo_trabalho_id option").remove();
        var row2 = "<option value=\"" + "" + "\">" + "Selecione" + "</option>";
        $(row2).appendTo("select#trabalho_tipo_trabalho_id");
      }

    });



    $(function() {

      $("select#trabalho_linha_evento_id").change(function() {
        var id_value_string = $(this).val();
        if (id_value_string == "") {
          $("select#trabalho_linha_id option").remove();
          $("select#trabalho_tipo_trabalho_id option").remove();
          var row = "<option value=\"" + "" + "\">" + "Selecione" + "</option>";
          $(row).appendTo("select#trabalho_linha_id");
          $(row).appendTo("select#trabalho_tipo_trabalho_id");
        } else {
        // Send the request and update linhas dropdown
          var url1 = '/get_linhas_by_evento/' + id_value_string;
          var url2 = '/get_tipo_trabalhos_by_evento/' + id_value_string;
          $.ajax({
          dataType: "json",
          cache: false,
          url: url1,
          timeout: 5000,
          error: function(XMLHttpRequest, errorTextStatus, error) {
            alert("Failed to submit : " + errorTextStatus + " ;" + error);
          },
          success: function(data) {
            // Clear all options from linha select
            $("select#trabalho_linha_id option").remove();
            //put in a empty default line
            var row = "<option value=\"" + "" + "\">" + "Selecione" + "</option>";
            $(row).appendTo("select#trabalho_linha_id");
            // Fill course select
            $.each(data, function(i, j) {
              row = "<option value=\"" + j.id + "\">" + j.nome + "</option>";
              $(row).appendTo("select#trabalho_linha_id");
            });
          }
        });

        $.ajax({
          dataType: "json",
          cache: false,
          url: url2,
          timeout: 5000,
          error: function(XMLHttpRequest, errorTextStatus, error) {
            alert("Failed to submit : " + errorTextStatus + " ;" + error);
          },
          success: function(data) {

            // Clear all options from linha select
            $("select#trabalho_tipo_trabalho_id option").remove();
            //put in a empty default line
            var row = "<option value=\"" + "" + "\">" + "Selecione" + "</option>";
            $(row).appendTo("select#trabalho_tipo_trabalho_id");
            // Fill course select
            $.each(data, function(i, j) {
              row = "<option value=\"" + j.id + "\">" + j.nome + "</option>";
              $(row).appendTo("select#trabalho_tipo_trabalho_id");
            });
          }
        });
      }
    });
  });
  </script>
<% end %>

<%= bootstrap_nested_form_for(@trabalho, html: { multipart: true }) do |f| %>


<% if not notice.blank? %>
<div class="alert alert-success alert-dismissible" role="alert">
<%= notice %>
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
   <span aria-hidden="true">&times;</span>
 </button>
</div>
<% end %>
  <p>Todos os campos são obrigatórios.</p>
  <%= f.fields_for :linha do |linha| %>
    <%= linha.select :evento_id, Evento.select, prompt: 'Selecione' %>
  <% end %>
  <%= f.select :linha_id, Linha.select, prompt: 'Selecione', label: 'Área' %>
  <%= f.select :tipo_trabalho_id, TipoTrabalho.select, prompt: 'Selecione', label: 'Tipo de trabalho' %>
  <!-- Colocar áreas e subáreas -->
  <%#= f.grouped_collection_select :linha_id, Evento.order(:nome), :linhas, :nome, :id, :nome,include_blank: 'Selecione' %>
  <!-- -->

  <%= f.text_field :titulo, label: 'Título' %>
  <% if current_user.admin? %>
    <%= f.select :participante_id, Participante.select, prompt: 'Selecione' %>
  <% end %>
  <%= f.text_area :resumo, rows: 5 %>
  <div class="alert alert-info" role="alert"><strong>Atenção:</strong> Preencha os nomes dos autores abaixo na mesma ordem em que eles devem ser apresentados no artigo.</div>
  <label for="autores" class="control-label">Autores</label>
  <%= f.fields_for :autores do |autores| %>
    <div class="form-group">
      <div class="input-group">
        <%= autores.text_field :nome, hide_label: true, placeholder: 'Nome do autor' %>
        <span class="input-group-btn">
          <%= autores.link_to_remove "Remover", class: 'btn btn-default' %>
        </span>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.link_to_add "Adicionar autor", :autores, class: 'btn btn-default' %>
  </div>
  <div class="alert alert-danger" role="alert"><strong>Atenção:</strong> Os nomes dos autores não devem constar no arquivo submetido. Eles devem ser informados apenas no formulário de submissão. Os trabalhos submetidos com os nomes dos autores no arquivo não serão aceitos.</div>
  <%= f.file_field :arquivo, label: 'Arquivo (doc ou docx)' %>

  <%= f.submit 'Enviar', class: 'btn btn-primary' %>
<% end %>
