<h2>Pareceres dos avaliadores</h2>

<% @trabalho.avaliacoes_linha_atual.each_with_index do |avaliacao, index| %>
  <% if avaliacao.reprovado? %>
    <p>
      <strong>Avaliador <%= (index) %></strong><br>
      <%= avaliacao.parecer %>
    </p>
    <% index += 1 %>
  <% end %>
  <p>
    <h4>Avaliador <%= (index+1) %></h4>
    <strong>Nota:</strong> <%= @trabalho.nota_geral.to_s.html_safe %><br>
    <strong>Comentário:</strong> <%= avaliacao.parecer %>
  </p>
  <% index += 1 %>
  <hr>
<% end %>
